.reserve{
    padding: 50px 0;
    background: rgb(9, 83, 88);
    border-bottom: 2px solid orange;
}
.reserve-wrap{
    width: 100%;
    padding: 0 30px;
    margin: auto;
    display: block;
    position: relative;
}

.reserve-title{
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    margin-bottom: 10px;
    margin-left:40px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 1.2em;
    padding-right: 180px;
    display: block;
}

.reserve-txt{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color:#cf7303!important;
    margin-left:40px;
    width: 80%;
    display: inline-block;
    font-size: 1.2em;
    padding-right: 180px;
}


