.newsletter-section{
    padding: 30px 0;
    background: rgb(9, 83, 88);
    border-top: 2px solid orange;
}

.newsletter-wrap{
    width: 100%;
    padding: 0 30px;
    margin: auto;
    display: block;
    position: relative;
}

.newsletter-title{
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    margin-bottom: 10px;
    margin-left:40px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 1.2em;
    padding-right: 180px;
    display: block;
}

.newsletter-txt{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color:#cf7303!important;
    margin-left:40px;
    display: inline-block;
    font-size: 1.2em;
    padding-right: 180px;
}

.field-group{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.field-group input{
    padding-right: 200px;
    border: 1px solid #a5a5a5;
    margin-right: 30px;
    color: #fff;
    position: relative;
    right: 7px;
    transform: skew(-10deg,0deg);
}

input[type=email]{
    background-color: transparent;
    font-size: 15px;
    padding: 0 13px 0 10px;
    height: 45px;
    outline: none;
    width: 75%;
    border-radius: 0;
}