.newsletter-section{
    padding: 30px 0;
    background-color: #274c81;
}

.newsletter-wrap{
    width: 100%;
    padding: 0 30px;
    margin: auto;
    display: block;
    position: relative;
}

.newsletter-title{
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1.5em;
}

.newsletter-txt{
    color: #50bfbf;
    width: 100%;
    display: inline-block;
    font-size: 1.5em;
}


.field-group{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.field-group input{
    padding-right: 200px;
    border: 1px solid #008de7;
    margin-right: 30px;
    color: #fff;
    position: relative;
    right: 7px;
    transform: skew(-10deg,0deg);
}

input[type=email]{
    background-color: transparent;
    font-size: 15px;
    padding: 0 13px 0 10px;
    height: 46px;
    outline: none;
    width: 70%;
    -webkit-appearance: none;
    border-radius: 0;
}