.infobar{
    width: 100%;
    background: rgb(9, 83, 88);
    height: 45px;
    top: 0;
    left: 0;
    right: 0;
}

.infobar-navigation{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.infobar-logo{
    margin-left: 5px;
}

.infobar-logo a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.infobar-top-items{
    width: 65%;
}

.infobar-top-items img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: bottom;
}

.infobar-top-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.infobar-top-items li{
    padding: 0 1rem;
    color:rgb(240, 241, 241);
    font-size: 13px;
}


.spacer{
    flex: 1;
}

.menubar{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 45px;
    left: 0;
    top: 0;
    background: rgb(241, 245, 249);
}

.menubar ul{
    list-style: none;
    position: relative;
    display: inline-flex;
    padding: 0 6rem;
}

.menubar li a{
    padding: 0 3rem;
    max-width: max-content;
    color: rgb(68, 71, 76);
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
}

.menubar li a small{
    font-size: 13px;
    color:  rgb(9, 83, 88);
    text-transform: lowercase;
}

.menubar a:hover,
.menubar a:active{
    color: rgb(9, 83, 88);
}

.social{
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.social p{
    color: white;
    font-weight: bold;
}

.fa {
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  .fa:hover {
    opacity: 0.7;
    color: white;
  }


