.round {
    position: fixed;
    margin-top: 60px;
    width: 60px;
    height:60px;
    visibility: visible;
}

.round i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

a .down{
    transform: rotate(45deg);
}

a .up {
    transform: rotate(-135deg);
}
/*KRAJ SCORLA */

