.round {
    position: fixed;
    margin-top: 60px;
    width: 60px;
    height:60px;
}

.round span{
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 17px;
    background: var(--header-green);
    transition: 0.5s ease;
}

#s1{
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

#s2 {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

#s3{
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

#s4{
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover #s1 {
    transform: rotate(-135deg);
}

.round:hover #s2 {
    transform: rotate(135deg);
}

.round:hover #s3 {
    transform: rotate(225deg);
}

.round:hover #s4 {
    transform: rotate(-225deg);
}