.training-page{
    border: 0 none;
    padding: 0;
    width: 100%;
    display: inline-block;
}

.training-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.training-article{
    margin: 30px 30px 30px 30px !important;
    display: flex;
    justify-content: center;
}

.main-training{
    padding: 100px 0;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-column-gap:80px;
    margin: auto;
}

.training-card{
    margin-top: 25px;
    margin-bottom: 50px !important;
    position: relative;
}

.training-img{
    cursor: pointer;
}

.training-img a:hover img{
    transform: scale(1.2);
    transition: 1s;
}
