.training-page{
    border: 0 none;
    padding: 0;
    width: 100%;
    display: inline-block;
}

.training-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.training-article{
    margin: 30px 30px 30px 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.training-image{
    float: right;
    margin-top: 40px;
    /* width: 90%; */
    /* display: flex;
    justify-content: center;
    position: relative;
    text-align: center; */
}

.training-image img{
    width: 550px;
    height: 400px;
    object-fit: cover;
}

.main-training{
    padding: 100px 0;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap:150px;
    margin: auto;
}

.training-card{
    margin-top: 25px;
    margin-bottom: 50px !important;
    position: relative;
}

.training-img{
    cursor: pointer;
}

.training-img a:hover img{
    transform: scale(1.2);
    transition: 1s;
}

@media(max-width:1000px){
    .training-article .page-head header{
        width: 100%;
    }
    .main-training{
        justify-content: center;
        display: block;
    }
    .training-card-section{
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .training-card h3{
        text-align: center;
    }
    .entry-content p{
        display: flex;
        text-align: justify;
        margin-left: 40px;
        margin-right: 40px;
    }
    .training-image{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .training-image img{
        width: 400px;
        height: 350px;
        object-fit: cover;
    }
    .hr-pin{
        display: none;
    }
}
