.main-footer{
    color:white;
    background-color: rgb(9, 83, 88);
    border-top: 1px solid #cf7303!important;
    padding-top: 3rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 150px;
}

.main-footer hr{
    color: gainsboro;
    border: 1px solid #B3F2F8;
}

.main-footer small {
    color: #B3F2F8;
}

.main-footer h4{
    font-weight: 400;
}

.links ul li {
    padding:3px;
}

.links ul li:hover{
    border-left: 5px solid #B3F2F8;
    transform: skewX(-3deg);
}