.footer-heading{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
    position: relative;
    text-align: center;
}
.footer-heading h3{
    font-family: 'Merriweather',Georgia,"Times New Roman",serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.6em;
}

.footer-heading p{
    line-height: 2em;
}
