html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: sans-serif;
  padding: 0;
}

.questions-div {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 55px;
  padding-left: 0px;
}

.footer {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../src/images/footer.png),
    radial-gradient(circle at center, #f9f9f4 80%, #ffffff 100%) !important;
  height: 500px;
  width: 100%;
  background-color: #f9f9f4 !important;
}

:root {
  --header-green: rgb(9, 83, 88);
  --title1-green: rgb(17, 143, 12);
  --title2-orange: #cf7303;
  --paragraph-gray: rgb(90, 90, 90);
}

.page-head {
  margin-top: 50px;
  display: inline-block;
  width: 100%;
  position: relative;
}

.page-head header {
  width: 45%;
  float: left;
  display: block;
}

.page-head .header-text {
  width: 45%;
}

.page-head h1 {
  text-transform: uppercase;
  color: rgb(9, 83, 88);
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 30px;
}

.page-head h2 {
  color: #cf7303 !important;
  font-size: 22px !important;
  font-weight: 400;
  margin-bottom: 22px;
  line-height: 1.2em !important;
}

.page-head p {
  color: black;
  font-size: 16px;
  margin-bottom: 40px;
  display: inline-block;
  line-height: 1.7em;
  text-align: justify;
}

.page-head aside {
  width: 50%;
  padding-left: 20px;
  float: right;
  height: 420px;
  overflow: hidden;
}

.page-head figure {
  width: 100%;
  z-index: -1;
  max-width: 100%;
  height: 100%;
}

figure {
  display: block;
}

.page-head img {
  height: auto;
  width: 100%;
  position: relative;
}
.background {
  left: 0;
  right: 0;
  border: 0 none;
  padding: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      rgb(241, 245, 249, 0.6) 0%,
      #ffffff 180%
    ),
    url("https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  vertical-align: baseline;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -1;
}

h1,
h2,
h3,
h4 {
  font-family: "Baloo Chettan 2", cursive;
}

h5 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 22px;
}

a {
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 600px) {
  .link-slider {
    min-width: 716px;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (max-width: 1200px) {
  .page-head {
    width: auto;
  }
}
